  <body>
    <div class= "HomePage">
      <form>
        <%=image_tag("Logo.png",:class => "LogoStyle")%>
        <div class = "UserLinks">
          <ul>
            <li style="display:inline-block;">
              <%= link_to "Settings", edit_user_registration_path, :class => "linkStyle2"%>
            </li>
            <li style="display:inline-block;">
              <%= link_to "Log out", destroy_user_session_path, :method => :delete, :class => "linkStyle2"%>
            </li>
          </ul>
        </div>
        <h1> <%= @Date %> </h1>

        <div class = "ButtonStyle3">
          <%= link_to '<button type="button" class="Button_Style">New Expenses</button>'.html_safe, new_expense_path %>

          <%= link_to '<button type="button" class="Button_Style">Financial statement</button>'.html_safe, "users/sign_up" %>

          <%= link_to '<button type="button" class="Button_Style">Statistics</button>'.html_safe, "users/sign_up" %>
        </div>
        
        <div class="Labels">
          <p>Total Expenses</p>
          <p>Budget status</p>
          <p>Avg. daily expenses </p>
        </div>
        
       
      </form>
    </div>
  </body>

<!--  <input class="Button_Style" type="button" value= "Sgin in" action = "users/sign_in">
        <input class="Button_Style" type="button" value= "Sgin up" action="users/sign_up">

        <input class="Button_Style" type="button" value= "About" onclick="insert(4);"> -->