 <body>
    <div class= "HomePage">
      <form>
        <%=image_tag("Logo.png",:class => "LogoStyle")%>
        <div class = "UserLinks">
          <ul>
            <li style="display:inline-block;">
              <%= link_to "Calculator", calculator_index_path, :class => "linkStyle2"%>
            </li>
            <li style="display:inline-block;">
              <%= link_to "Settings", edit_user_registration_path, :class => "linkStyle2"%>
            </li>
            <li style="display:inline-block;">
              <%= link_to "Log out", destroy_user_session_path, :method => :delete, :class => "linkStyle2"%>
            </li>
          </ul>
         </div>
        <h1> <%= @Date %> </h1>

        <div class = "ButtonStyle3">
          <%= link_to '<button type="button" class="Button_Style">New Expenses</button>'.html_safe, new_expense_path %>

          <%= link_to '<button type="button" class="Button_Style">Financial statement</button>'.html_safe, "users/sign_up" %>

          <%= link_to '<button type="button" class="Button_Style">Statistics</button>'.html_safe, "users/sign_up" %>
        </div>
        
        <div class="Labels">

          <p class="Label">Total Expenses</p>
          <p class="Label">Budget status</p>
          <p class="Label">Avg. daily expenses </p>
        </div>
       
      </form>
    </div>
  </body>




<!-- <p id="notice"><%= notice %></p>

<h1>Expenses</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Paid</th>
      <th>Type</th>
      <th>Details</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.user_id %></td>
        <td><%= expense.date %></td>
        <td><%= expense.paid %></td>
        <td><%= expense.type %></td>
        <td><%= expense.details %></td>
        <td><%= link_to 'Show', expense %></td>
        <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
        <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expense', new_expense_path %>
 -->