 <body>
    <div class= "HomePage">
      <form>
        <%=link_to image_tag("Logo.png",:class => "LogoStyle"), "expenses"%>
        <div class = "UserLinks">
          <ul>
            <li style="display:inline-block;">
              <%= link_to "Calculator", "/calculators/new", :class => "linkStyle2"%>
            </li>
            <li style="display:inline-block;">
              <%= link_to "Settings", edit_user_registration_path, :class => "linkStyle2"%>
            </li>
            <li style="display:inline-block;">
              <%= link_to "Log out", destroy_user_session_path, :method => :delete, :class => "linkStyle2"%>
            </li>
          </ul>
         </div>
        <h1> <%= @Date %> </h1>

        <div class = "ButtonStyle3">
          <%= link_to '<button type="button" class="Button_Style">New Expenses</button>'.html_safe, new_expense_path %>

          <%= link_to '<button type="button" class="Button_Style">Financial statement</button>'.html_safe, "users/sign_up" %>

          <%= link_to '<button type="button" class="Button_Style">Statistics</button>'.html_safe, "users/sign_up" %>
        </div>

        <div class="statement">
           <h2 class="Decore"> </h2>
           <h2 class="Decore"></h2>
           <h2 class="Decore"></h2>
        </div>

        <div class="statement">
           <h2 class="LabelSt"><%= @TotalEx.sum(:paid) %> $</h2>
           <h2 class="LabelSt"><%= @TotalEx.sum(:paid) %> $</h2>
           <h2 class="LabelSt"><%= @TotalEx.sum(:paid) %> $</h2>
        </div>
       
        <div class="Labels">
          <p class="Label">Total Expenses</p>
          <p class="Label">Budget status</p>
          <p class="Label">Avg. daily expenses </p>
        </div>
       
      </form>
    </div>
  </body>
