<body>
	<div class="HomePage">
		<form>
      <%=link_to image_tag("Logo.png",:class => "LogoStyle"), "/expenses"%>
      <div class = "UserLinks">
        <ul>
          <li style="display:inline-block;">
            <%= link_to "Calculator", "/calculators/new", :class => "linkStyle2"%>
          </li>
          <li style="display:inline-block;">
            <%= link_to "Settings", edit_user_registration_path, :class => "linkStyle2"%>
          </li>
          <li style="display:inline-block;">
            <%= link_to "Log out", destroy_user_session_path, :method => :delete, :class => "linkStyle2"%>
          </li>
        </ul>
      </div>
    </form>

	<h1>History</h1>
	<div class="Stat-Container">
	  <table class="CalcHistory">
	  <thead class="StatHeader">
	    <tr class="Stat-tr">
	      <th class="Stat-thDate">Date</th>
	      <th class="Stat-thPaid">Paid</th>
	      <th class="Stat-thKind">kind</th>
	      <th class="Stat-thD">Details</th>
	      <th colspan="2" class="Stat-thl"></th>
	    </tr>
	  </thead>


	  <tbody class="StatBody">
	    <% @data.each do |expenses| %>
	      <tr class="Stat-tr">
	        <td class="Stat-tdDate"><%= expenses.date %></td>
	        <td class="Stat-tdPaid"><%= expenses.paid %> $</td>
	 	<%- if expenses.kind == 0 %>
	 		<td class="Stat-tdKind">Fixed</td>
	 	<%- elsif expenses.kind == 1 %>
	 		<td class="Stat-tdKind">custom</td>
	 	<%- else%>
	 		<td class="Stat-tdKind">Loans</td>
	 	<%end%>
	        
	        <td class="Stat-tdD"><%= truncate(expenses.details, length: 20) %></td>
	        <td class="Stat-tdl"><%= link_to 'Load', edit_expense_path(expenses), :class => "linkStyle2" %></td>
	        <td class="Stat-tdl"><%= link_to 'Remove', expenses, method: :delete, data: { confirm: 'Are you sure?' }, :class => "linkStyle2" %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

	<h5 class="TotalEx">Total Expenses: <%= @data.sum(:paid).round(2)%> $</h5>

	<div class="DirectoryButtons-stat" >
      <%= link_to '<button type="button" class="Button_Style">statistics</button>'.html_safe, "/expenses/statistics" %>
      <%= link_to '<button type="button" class="Button_Style">Home</button>'.html_safe, "/expenses" %>
    </div>
	

	</div>
</body>

