<body>
	<div class="HomePage">
		<form>
      <%=link_to image_tag("Logo.png",:class => "LogoStyle"), "/expenses"%>
      <div class = "UserLinks">
        <ul>
          <li style="display:inline-block;">
            <%= link_to "Calculator", "/calculators/new", :class => "linkStyle2"%>
          </li>
          <li style="display:inline-block;">
            <%= link_to "Settings", edit_user_registration_path, :class => "linkStyle2"%>
          </li>
          <li style="display:inline-block;">
            <%= link_to "Log out", destroy_user_session_path, :method => :delete, :class => "linkStyle2"%>
          </li>
        </ul>
      </div>
    </form>

	<h1>History</h1>
	<div class="TableContainer">
	  <table class="CalcHistory">
	  <thead class="TabeleHeader">
	    <tr class="CalcHistory-tr">
	      <th class="CalcHistory-thT">Date</th>
	      <th class="CalcHistory-th">Paid</th>
	      <th class="CalcHistory-th">kind</th>
	      <th class="CalcHistory-th">Details</th>
	      <th colspan="2" class="CalcHistory-thl"></th>
	    </tr>
	  </thead>

	  <tbody class="TabeleBody">
	    <% @expenses.each do |expenses| %>
	      <tr class="CalcHistory-tr">
	        <td class="CalcHistory-tdT"><%= expenses.date %></td>
	        <td class="CalcHistory-td"><%= expenses.paid %> $</td>
	         <td class="CalcHistory-tdT"><%= expenses.kind %></td>
	        <td class="CalcHistory-td"><%= expenses.details %></td>
	        <td class="CalcHistory-tdl"><%= link_to 'Load', expenses, :class => "linkStyle2" %></td>
	        <td class="CalcHistory-tdl"><%= link_to 'Remove', expenses, method: :delete, data: { confirm: 'Are you sure?' }, :class => "linkStyle2" %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

	</div>
</body>