<body>
  <div class="HomePage">
    <form>
      <%=link_to image_tag("Logo.png",:class => "LogoStyle"), "/expenses"%>
      <div class = "UserLinks">
        <ul>
          <li style="display:inline-block;">
            <%= link_to "Calculator", "/calculators/new", :class => "linkStyle2"%>
          </li>
          <li style="display:inline-block;">
            <%= link_to "Settings", edit_user_registration_path, :class => "linkStyle2"%>
          </li>
          <li style="display:inline-block;">
            <%= link_to "Log out", destroy_user_session_path, :method => :delete, :class => "linkStyle2"%>
          </li>
        </ul>
      </div>
    </form>
    <%= simple_form_for(@plan) do |f| %>

    <div class="alert-1">
       <%= f.error_notification %>
       <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    </div>

    <div class="form-inputs-pl">
      <%= f.input :start_date,
                  :order => [ :day, :month, :year],
                  :label => "from",
        input_html: { class: "input-Date2"} %>

      <%= f.input :end_date,
                  :order => [ :day, :month, :year],
                  :label => "to ....",
        input_html: { class: "input-Date2"} %>

      <%= f.input :income,
                  :label => "Current Income",
        input_html: { class: "input-text-pl"} %>

      <%= f.input :fixed_ex,
                  :label => "Fixed Expenses",
        input_html: { class: "input-text-pl"} %>

      <%= f.input :loans,
                  :label => "loans",
        input_html: { class: "input-text-pl"} %>

      <%= f.input :target_sa,
                  :label => "Target Savings",
        input_html: { class: "input-text-pl"}%>

      <%= f.input :old_savings,
                  :label => "Old Savings",
        input_html: { class: "input-text-pl"}%>
    </div>
    <div class="DirectoryButtons-pl" >
          <%= f.button :submit, :class => "Button_Style" %>
          <%- if @plan.persisted? %>
            <%= link_to '<button type="button" class="Button_Style">Creat New Plan</button>'.html_safe, new_plan_path %>
          <% end %>    
        <% end %>
            <%= link_to '<button type="button" class="Button_Style">Cancel</button>'.html_safe, "/expenses" %>

        </div>
  </div>
</body>

